@mixin sideImg() {
  img {
    display: block;
    border-radius:50%;
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
    height: auto;
    max-width: 150px;
  }
}
div.column{
  div{
    margin: 10px 0px;
      width: -webkit-fill-available;
      @include sideImg();
  }
  // {
    
  // margin-top: 1em;
  //   margin: 10px 0px;
  //   width: -webkit-fill-available;
  //   @include sideImg()
  // }
  // .complete {
  //   width: 50px;
    
  // margin-top: 1em;
  //   @include sideImg()
  // }
}
