<div class="column" fxLayout="column">
  <div class="complete" *ngIf="!iconOnly" fxLayoutAlign="space-around center">
    <img [src]="avatarSrc$|async">
  </div>
  <div class="iconOnly" *ngIf="iconOnly" fxLayoutAlign="space-around center">
    <img [src]="avatarSrc$ |async">
  </div>

  <div *ngIf="(user$|async)?.nombre!=''">
    <p>
      <ng-container *ngIf="(user$|async)?.isAdmin; else user">
        <mat-icon>verified_user</mat-icon>
      </ng-container>
      <ng-template #user>
        <mat-icon>person</mat-icon>
      </ng-template>{{(user$|async)?.nombre}} {{(user$|async)?.apellido}}
    </p>
  </div>

  <ng-container *ngIf="!((user$|async)?.nombre!=''); else loggedUser">
    <app-sidenav-item *ngFor="let menu of loggedOutMenu" [menu]="menu" [iconOnly]="iconOnly">
    </app-sidenav-item>
  </ng-container>
  <ng-template #loggedUser>
    <p *ngIf="((user$|async)?.isAdmin)">admin</p>
    <app-sidenav-item *ngFor="let menu of menus" [menu]="menu" [iconOnly]="iconOnly"> </app-sidenav-item>
  </ng-template>
</div>