<section>
  <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <input type="email" matInput placeholder="Su correo electrónico" formControlName="email">
      <mat-hint>Por favor introduzca un correo electrónico correcto.</mat-hint>
      <mat-error>Correo electrónico invalido.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input type="password" matInput placeholder="Su contraseña" formControlName="password">
      <mat-hint>Por favor introduzca su contraseña.</mat-hint>
      <mat-error>Contraseña invalida.</mat-error>
    </mat-form-field>
    <button *ngIf="!($loading|async)" type="submit" mat-raised-button color="primary"
      [disabled]="form.invalid">Enviar</button>
    <mat-spinner *ngIf="$loading|async"></mat-spinner>
  </form>
</section>