<div class="cardHolder" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="1em">
  <mat-card>
    <!-- <div class="loading-shade" *ngIf="$loading|async">
      <mat-spinner></mat-spinner>
    </div> -->
    <mat-card-content>
      <form [formGroup]="form">
        <mat-horizontal-stepper linear="false" #stepper>
          <mat-step>
            <ng-template matStepLabel>Datos Basicos
            </ng-template>
            <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
              <p class="mat-body">Tipo de Partitura</p>
              <mat-radio-group formControlName="registro" fxLayout="row" fxLayoutGap="1rem"
                fxLayoutAlign="center center">
                <mat-radio-button value="1">Arreglo</mat-radio-button>
                <mat-radio-button value="2">Partitura</mat-radio-button>
              </mat-radio-group>
              <mat-form-field>
                <input matInput placeholder="Obra" type="text" formControlName="obra">
              </mat-form-field>

              <mat-form-field>
                <textarea matInput placeholder="Informacion Extra" formControlName="extrainfo"></textarea>
              </mat-form-field>

              <mat-form-field>
                <mat-select placeholder="Grupo" formControlName="grupos" multiple>
                  <mat-option *ngFor="let g of gruposTodos" [value]="g">{{g}}</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field>
                <mat-chip-list #chipList>
                  <mat-chip *ngFor="let g of generos?.value;let i=index" [selectable]="true" [removable]="true"
                    (removed)="removeChip(g)">
                    {{g}}
                    <mat-icon matChipRemove>cancel</mat-icon>
                  </mat-chip>
                  <input matInput placeholder="Generos" #generoInput (matChipInputTokenEnd)="addChip($event)"
                    [matChipInputFor]="chipList" [matChipInputAddOnBlur]="true" [formControl]="chipInputCtrl"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matAutocomplete]="auto">

                  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectedGenero($event)">
                    <mat-option *ngFor="let g of generosTodos" [value]="g">{{g}}</mat-option>
                  </mat-autocomplete>
                </mat-chip-list>
              </mat-form-field>
              <mat-accordion>
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-icon>people</mat-icon> <span> </span>Involucrados

                  </mat-expansion-panel-header>

                  <div formArrayName="gente" *ngFor="let p of  gente.controls;let i=index">
                    <!-- <span *ngIf="form.controls['gente'].controls.length >1" (click)="removePersona(i)"></span> -->
                    <div [formGroupName]="i">
                      <p class="mat-body">Involucrado {{i+1}}</p>
                      <app-involucrados [form]="form.controls['gente'].controls[i]" [n]="i"
                        (deletable)='removePersona($event)'>
                      </app-involucrados>
                    </div>

                  </div>
                  <div fxLayout="row" fxLayoutAlign="end" fxLayoutGap="10px">
                    <button mat-mini-fab color="accent" (click)="addPersona()">
                      <mat-icon>add</mat-icon>
                    </button>
                  </div>
                </mat-expansion-panel>
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-icon>video_library</mat-icon> <span> </span> Video
                  </mat-expansion-panel-header>

                  <div formArrayName="youtube" *ngFor="let y of  video.controls;let i=index">
                    <!-- <span *ngIf="form.controls['gente'].controls.length >1" (click)="removePersona(i)"></span> -->
                    <div [formGroupName]="i">
                      <mat-form-field>

                        <p class="mat-body">Video {{i+1}}</p>
                        <input matInput placeholder="Direccion URL de YOUTUBE" type="text" formControlName="url">
                      </mat-form-field>
                    </div>

                  </div>
                  <div fxLayout="row" fxLayoutAlign="end" fxLayoutGap="10px">
                    <button mat-mini-fab color="accent" (click)="addVideo()">
                      <mat-icon>add</mat-icon>
                    </button>
                  </div>
                </mat-expansion-panel>


              </mat-accordion>
            </div>
          </mat-step>
          <mat-step fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
            <ng-template matStepLabel>Media</ng-template>
            <app-file-upload (filesEvent)="show($event)">
            </app-file-upload>
            <mat-list>
              <h3 mat-subheader>Partituras</h3>
              <mat-list-item *ngFor="let p of media.controls;let i=index">
                <p mat-line>Nombre Generico de Partitura</p>
                <p mat-line>Iconos de Media</p>
                <mat-chip-list #InstList>
                  <mat-chip *ngFor="let i of instrumentosTodos;let i=index" selectable="true" removable="true"
                    (removed)="removeChipI(i)">
                    {{i}}
                    <mat-icon matChipRemove>cancel</mat-icon>
                  </mat-chip>
                  <input matInput placeholder="Instrumentos" #instrumentoInput (matChipInputTokenEnd)="addChipI($event)"
                    [matChipInputFor]="InstList" matChipInputAddOnBlur="true" [formControl]="chipInputCtrlI"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matAutocomplete]="autoI">

                  <mat-autocomplete #autoI="matAutocomplete" (optionSelected)="selectedInstrumento($event)">
                    <mat-option *ngFor="let i of instrumentosTodos" [value]="i">{{i}}</mat-option>
                  </mat-autocomplete>
                </mat-chip-list>

              </mat-list-item>
            </mat-list>
          </mat-step>
          <mat-step fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
            <ng-template matStepLabel>Archivos</ng-template>
            <app-file-upload (filesEvent)="show($event )"></app-file-upload>
          </mat-step>
        </mat-horizontal-stepper>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="2em">
        <button mat-raised-button (click)="goBack(stepper)" color="primary"
          [disabled]="stepper&&stepper.selectedIndex === 0">Anterior</button>
        <button mat-raised-button color="primary" (click)="stepper.reset()">Reiniciar</button>
        <ng-container
          *ngIf="stepper&&stepper._steps && stepper.selectedIndex === (stepper._steps.length - 2); else elseTemplate">
          <button mat-raised-button (click)="onSave(stepper)" color="primary">Guardar</button>
        </ng-container>
        <ng-template #elseTemplate>
          <button mat-raised-button (click)="goForward(stepper)" color="primary">Siguiente</button>
        </ng-template>
        <ng-container *ngIf="stepper&&stepper._steps && stepper.selectedIndex === (stepper._steps.length - 1)">

          <button mat-raised-button color="primary">Ir a Obra</button>
          <button mat-raised-button color="primary">Subir nueva Obra Musical</button>
        </ng-container>
      </div>

    </mat-card-actions>
  </mat-card>
</div>