<!-- <section class="upload-form">
	<form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" #f="ngForm" (ngSubmit)="onSubmit(f)">
		<mat-form-field>
			<input [(ngModel)]="partituraNueva.obra" matInput required type="text" name="obra" placeholder="Obra">
		</mat-form-field>

		<mat-form-field>
			<input [(ngModel)]="partituraNueva.its" matInput required type="number" name="its" placeholder="Its">
		</mat-form-field>

		<mat-form-field>
			<input matInput placeholder="Autor" type="text" [(ngModel)]="partituraNueva.involucrados[0].nombre"
			 [matAutocomplete]="autoAutor" name="autor">
		</mat-form-field>
		<mat-autocomplete #autoAutor="matAutocomplete">
			<mat-option *ngFor="let a of autores " [value]="a.nombre">
				{{ a.nombre + " " + a.apellido}}
			</mat-option>
		</mat-autocomplete>

		<mat-form-field>
			<mat-chip-list #chipList>
				<mat-chip *ngFor="let g of partituraNueva.generos" [selectable]="true" [removable]="true" (removed)="remove(g)">
					{{g}}
					<mat-icon matChipRemove>cancel</mat-icon>
				</mat-chip>
				<input #generoInput placeholder="Generos" (matChipInputTokenEnd)="add($event)" [matAutocomplete]="auto"
				 [matChipInputFor]="chipList" [matChipInputAddOnBlur]="true" name="generos">
			</mat-chip-list>
			<mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
				<mat-option *ngFor="let g of generosFiltrados | async" [value]="g">{{g }}
				</mat-option>
			</mat-autocomplete>
		</mat-form-field>

		<mat-form-field>
			<input [(ngModel)]="partituraNueva.almacenamiento[0].tipo" matInput placeholder="tipoAlmacenamiento" value="Ninguno"
			 name="almacenamiento">
		</mat-form-field>
		<mat-slider thumbLabel tickInterval="auto" min="1" max="25" value="1" [(ngModel)]="partituraNueva.almacenamiento[0].cantidad"
		 name="nAlmacenamiento">
		</mat-slider>

		<button type="submit" mat-raised-button color="primary" [disabled]="f.invalid">
			Submit
		</button>

	</form>
</section> -->