<mat-nav-list>
  <a mat-list-item routerLink="/signup" (click)="onClose()" *ngIf="((user$ | async).nombre==='')">
    <mat-icon>face</mat-icon>
    <span class="nav-caption">Registrarse</span>
  </a>
  <a mat-list-item routerLink="/login" (click)="onClose()" *ngIf="((user$ | async).nombre==='')">

    <mat-icon>input</mat-icon>
    <span class="nav-caption">Login</span>
  </a>
  <a mat-list-item routerLink="/upload" (click)="onClose()" *ngIf="!((user$ | async).nombre==='')">
    <!--&&isAdmin-->
    <mat-icon>input</mat-icon>
    <span class="nav-caption">Subir Partituras</span>
  </a>
  <a mat-list-item routerLink="/sheet" (click)="onClose()" *ngIf="!((user$ | async).nombre==='')">
    <mat-icon>input</mat-icon>
    <span class="nav-caption">Partitura</span>
  </a>
  <a mat-list-item routerLink="/music-list" (click)="onClose()" *ngIf="!((user$ | async).nombre==='')">
    <mat-icon>input</mat-icon>
    <span class="nav-caption">Lista Partituras</span>
  </a>
  <mat-list-item>
    <button mat-icon-button (click)="onLogout()" *ngIf="!((user$ | async).nombre==='')">
      <mat-icon>eject</mat-icon>
      <span class="nav-caption">Logout</span>
    </button>
  </mat-list-item>

</mat-nav-list>