<mat-toolbar color="primary">
  <button mat-icon-button (click)="onToggleSidenav();onToggleDrawer();" *ngIf="matDrawerShow">
    <i class="material-icons app-toolbar-menu">menu </i>
  </button>
  <button mat-icon-button (click)="onToggleSidenav();" *ngIf="!matDrawerShow">
    <i class="material-icons app-toolbar-menu">menu </i>
  </button>
  <div>
    <a routerLink="/bienvenida">Orcaestra Sinfonica</a>
  </div>
  <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
    <ul fxLayout fxLayoutGap="10px" class="navigation-items">
      <li *ngIf="!($isAuth|async)">
        <a routerLink="/signup">Registrarse</a>
      </li>
      <li *ngIf="!($isAuth|async)">
        <a routerLink="/login">Iniciar Sesión</a>
      </li>
      <li *ngIf="($isAuth|async)&&($isAdmin|async)">
        <a routerLink="/admin/main">Administrador</a>
      </li>
      <li *ngIf="($isAuth|async)">
        <a routerLink="/musica/lista">Musica</a>
      </li>
      <li *ngIf="($isAuth|async)">
        <a routerLink="/logout">Cerrar Sesión</a>
      </li>
    </ul>
  </div>
</mat-toolbar>