@import '~@angular/material/theming';
@import '../app/app.component.scss';
@import '../app/navigation/sidenav/sidenav.item.component.scss';
@import '../app/shared/components/file-upload/file-upload.component.scss';
@import '../app/shared/components/icon/icon-summary/icon-summary.component.scss';
@import '../app/admin/score-management/score-management.component.scss';
@import '../app/music/score/media-cards/media.card.component.scss';
@import '../app/music/music-list/music-detail.component.scss';
@import '../app/music/music-list/music-list.component.scss';
@import '../app/shared/components/media-input/camera.component.scss';
@mixin fab($theme){
  .fab-container {
    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 100;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  
    > div {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      margin-bottom: 5px;
  
      button {
        margin-bottom: 17px;
      }
    }
  }
  
  .fab-toggler {
    float: right;
    z-index: 100;
  }
}
$mat-light-theme-background: (
  status-bar: map_get($mat-grey, 300),
  app-bar:    map_get($mat-grey, 100),
  background: map_get($mat-indigo, 50),
  hover:      rgba(black, 0.04), // TODO(kara): check style with Material Design UX
  card:       white,
  dialog:     white,
  disabled-button: $black-12-opacity,
  raised-button: white,
  focused-button: $black-6-opacity,
  selected-button: map_get($mat-grey, 300),
  selected-disabled-button: map_get($mat-grey, 400),
  disabled-button-toggle: map_get($mat-grey, 200),
  unselected-chip: map_get($mat-grey, 300),
  disabled-list-option: map_get($mat-grey, 200),
);

@include mat-core();

$primary : $mat-indigo;
$accent  : $mat-orange;
$warn    : $mat-red;

.contenedor{
  margin: 1em;
}

$primary-app-primary: mat-palette($primary , 400);
$primary-app-accent:  mat-palette($accent , 900);
$primary-app-warn:    mat-palette($warn );
$theme:   mat-light-theme($primary-app-primary, $primary-app-accent,$primary-app-warn);

app-sidenav-list{
    $sidenav-app-primary: mat-palette($primary , 400);
    $sidenav-app-accent:  mat-palette($accent , 900);
    $sidenav-app-warn:    mat-palette($warn );
    $app-sidenav-theme:   mat-dark-theme($sidenav-app-primary, $sidenav-app-accent,$sidenav-app-warn);
    @include mat-list-theme($app-sidenav-theme);
}


app-sidenav-item{
    @include sidenav-item($theme,20px)
}
@include mediaCard($theme);
@include musicDetail($theme);
@include musicList($theme);
@include angular-material-theme($theme);
@include main($theme);
@include dropzone($theme);
@include table($theme);
@include iconSummary($theme);
@include fab($theme);
@include camera($theme);
.cardHolder{
  margin:1em;
  //  position: relative;
  // max-height: fit-content
}
html {
  height:100%;
}
body{
  padding: 0px !important;
  margin: 0px !important;
  height:100%;
}
.contenedor{
  max-height: -webkit-fill-available;
}
.contenedor-card{
  width: 350px;
  height: 400px;
  display: block;
  margin-left:auto;
  margin-right:auto;  
}
.loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
mat-form-field {
  width: 300px;
  max-width: 500px;
}
mat-card{
  max-width: 95%;
}