<div fxLayout="column" fxLayoutAlign="center center">
  <div dropZone class="dropzone" (hovered)="toggleHover($event)" (dropped)="addFiles($event)"
    [class.hovering]="isHovering">
    <p class="mat-body">Arrastra y suelta {{(isAvatar)?"tu imagen de perfil":"los archivos"}}
      aqui <span class="mat-header">ó</span></p>

    <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
      <button mat-raised-button color="primary" (click)="openInput()">
        <mat-icon>cloud_upload</mat-icon>
        Seleccionalo
      </button>
      <button *ngIf="isAvatar" mat-raised-button color="primary" (click)="openInput()">
        <mat-icon>photo_camera</mat-icon>
        Tomar foto
      </button>
    </div>
    <input id="file-input" type="file" [accept]="accept" [multiple]="!isAvatar"
      (change)="addFiles($event.target.files)">
    <app-icon-summary *ngIf="!isAvatar" [dataScoreArray]="dsArray"></app-icon-summary>
  </div>
</div>