<div style="height: 500px;width: 500px;margin:1em;background-color:red" FxLayout="column" FxLayoutAlign="center center">
  <div dropZone class="dropzone" (hovered)="toggleHover($event)" (dropped)="addFiles($event)"
    [class.hovering]="isHovering">
    <h3 *ngIf="isAvatar()"> Imagen de Perfil</h3>
    <h3 *ngIf="!isAvatar()"> Archivos Musicales</h3>
    <input id="file-input" type="file" [accept]="accept()" [multiple]="!isAvatar()"
      (change)="addFiles($event.target.files)">
  </div>
  <div FxLayout="row">
    <button mat-icon-button (click)="openInput()">
      <mat-icon>cloud_upload</mat-icon>
    </button>
    <button mat-icon-button (click)="openInput()">
      <mat-icon>photo_camera</mat-icon>
    </button>
  </div>
  <li *ngFor="let f of files">
    <pre>{{f|json}}</pre>
  </li>
</div>