<form [formGroup]='form' fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" (ngSubmit)="onSubmit()" novalidate> 
  <!-- Obra -->
  <mat-form-field>
    <input matInput placeholder="Obra" type="text" formControlName="obra">
  </mat-form-field>

  <!-- ITS -->
  <mat-form-field>
    <input matInput placeholder="Its" formControlName="its">
  </mat-form-field>

  <generos [form]="form.controls['generos']" [generos]="generosTodos"></generos>

  <mat-form-field>
			<textarea matInput placeholder="Informacion Extra" formControlName="extrainfo"></textarea>
    </mat-form-field>
    
  <div formArrayName="gente">
    <div *ngFor="let p of  form.controls['gente'].controls;let i=index">
      <div>
        <span>Involucrado {{i+1}}</span>
        <span *ngIf="form.controls['gente'].controls.length >1" (click)="removePersona(i)"></span>
      </div>
      <!-- Cada Involucrado -->
        <div [formGroupName]="i">
            <involucrados [involucrados]="form.controls['gente'].controls[i]">
            </involucrados>
        </div>
      </div> 
  </div>

  <div formArrayName="almacenamiento">
      <div *ngFor="let a of  form.controls['almacenamiento'].controls;let i=index">
        <div>
          <span>Registro {{i+1}}</span>
          <span *ngIf="form.controls['almacenamiento'].controls.length >1" (click)="removeAlmacenamiento(i)"></span>
        </div>
        <!-- Cada Involucrado -->
          <div [formGroupName]="i">
              <almacenamiento [almacenamiento]="form.controls['almacenamiento'].controls[i]">
              </almacenamiento>
          </div>
        </div> 
    </div>

  <button mat-raised-button color="accent" (click)="addPersona()">Nuevo Involucrado</button>
  <button mat-raised-button color="primary" type="submit" [disabled]="false">Guardar </button>
</form>