<div class="welcome contenedor" fxLayout="column" fxLayout.gt-md="row" fxLayoutGap.gt-md="20px"
  fxLayoutAlign="center center">
  <div>
    <section>
      <h1>ACTIVITY</h1>
      <p>Stay active and enjoy better health and more fun!</p>
    </section>
    <section>
      <h1>COMMUNITY</h1>
      <p>Get to know other people who share your passion!</p>
    </section>
    <section>
      <h1>CHALLENGES</h1>
      <p>Never stop! Dive into new challenges every day</p>
    </section>
  </div>
  <!-- <button mat-button (click)="load()">Load</button>
  <button mat-button (click)="unload()">Unload</button>
  <button mat-button (click)="categ()">Categ</button>
  <mat-spinner *ngIf="$loading|async" mode="indeterminate"></mat-spinner>
  <pre>{{ scores | async | json }}</pre>
   -->
  <app-chip [form]="form" [array]="categ" [tipo]="tipo"></app-chip>
</div>