<mat-tab-group color="accent" backgroundColor="primary" dynamicHeight headerPosition="
      below">
  <mat-tab label="INFORMACION" class="tab">
    <ng-template matTabContent>
      <img [src]='media.avatar'>

      <h1>{{mockData.obra}}</h1>
      <h2>{{mockData.gente[1].nombre}} {{mockData.gente[1].apellido}}</h2>
      <img mat-card-image src='/assets/9th/sheet.png' alt="Foto de {{mockData.obra}}" width="250px" height="250px">
      <mat-chip-list *ngFor="let i of mockData.instrumentos" ariaOrientation="horizontal">
        <mat-chip color="accent" selected>
          <mat-icon>music_note</mat-icon>
        </mat-chip>
      </mat-chip-list>
      <div fxFlex></div>
      Expandir
      <p>
        {{mockData.extrainfo}}
      </p>
      <mat-divider [inset]="
      true">
      </mat-divider>
      <div style="padding-top:5px">
        <mat-chip-list #chipList>
          <mat-chip *ngFor="let g of mockData.generos" color="primary" [selectable]="true">{{g}}
          </mat-chip>
        </mat-chip-list>
      </div>
    </ng-template>
  </mat-tab>
  <mat-tab label="MEDIA">
    <ng-template matTabContent>

      <!-- <button mat-raised-button (click)="this.youtube.playVideo()">Play</button>
      <button mat-raised-button (click)="this.youtube.pauseVideo()">Paused</button> -->
      <div id="waveform"></div>
    </ng-template>
  </mat-tab>
  <mat-tab label="PARTITURA">
    <ng-template matTabContent>
      <div id="osmd"></div>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos eveniet optio ea, doloremque in, ipsam
        magni doloribus voluptatem molestiae debitis repellendus neque voluptatibus odit ipsa atque tempora velit!
        Aliquam, earum!LoremLorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos eveniet optio ea,
        doloremque in, ipsam magni doloribus voluptatem molestiae debitis repellendus neque voluptatibus odit ipsa
        atque tempora velit! Aliquam, earum!LoremLorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos
        eveniet optio ea, doloremque in, ipsam magni doloribus voluptatem molestiae debitis repellendus neque
        voluptatibus odit ipsa atque tempora velit! Aliquam, earum!LoremLorem ipsum dolor sit amet consectetur
        adipisicing elit. Dignissimos eveniet optio ea, doloremque in, ipsam magni doloribus voluptatem molestiae
        debitis repellendus neque voluptatibus odit ipsa atque tempora velit! Aliquam, earum!LoremLorem ipsum dolor sit
        amet consectetur adipisicing elit. Dignissimos eveniet optio ea, doloremque in, ipsam magni doloribus
        voluptatem molestiae debitis repellendus neque voluptatibus odit ipsa atque tempora velit! Aliquam,
        earum!LoremLorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos eveniet optio ea, doloremque
        in, ipsam magni doloribus voluptatem molestiae debitis repellendus neque voluptatibus odit ipsa atque tempora
        velit! Aliquam, earum!LoremLorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos eveniet optio
        ea, doloremque in, ipsam magni doloribus voluptatem molestiae debitis repellendus neque voluptatibus odit ipsa
        atque tempora velit! Aliquam, earum!LoremLorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    </ng-template>
  </mat-tab>
</mat-tab-group> -->