<mat-card>
  <mat-card-header>
    <mat-card-title>Video Youtube</mat-card-title>
    <mat-card-subtitle>subtitle</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <!-- <youtube-player [videoId]="this.youtube.id" height="300" width="600" (ready)="this.youtube.savePlayer($event)"
      (change)="this.youtube.onStateChange($event)">
    </youtube-player> -->
    {{ media | json }}
  </mat-card-content>
  <mat-card-actions>
    <button mat-icon-button>
      <mat-icon>play_arrow</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon>pause</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>