<div class="cardHolder" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="1em">
  <div class="loading-shade" *ngIf="$loading|async">
    <mat-spinner></mat-spinner>
  </div>
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{score.obra}}</mat-card-title>
    </mat-card-header>
    <mat-card-content class="contenedor">

      <div>
        <h2>{{score.getAutor()?.nombre}} {{score.getAutor()?.apellido}}</h2>


        <p> {{score.extrainfo}}</p>
        <p> {{score.almacenamiento}}</p>

        <div *ngIf="!!score.getNotAutor">
          <div> {{ score.getNotAutor() | json }}</div>
          <div *ngFor="let p of score.getNotAutor()">
            <p>{{p?.nombre}} {{p?.apellido}} {{p?.tipo}} </p>
          </div>
        </div>

        <div style="padding-top:5px">
          <mat-chip-list #chipList>
            <mat-chip *ngFor="let g of score?.generos" color="primary" [selectable]="true">
              {{g}}
            </mat-chip>
          </mat-chip-list>
        </div>
        <pre>{{ score | json }}</pre>
      </div>
    </mat-card-content>
  </mat-card>

  <div *ngFor="let m of score.media">
    <app-media-card [media]="m"></app-media-card>
  </div>

  <div *ngFor="let m of documentos">
    <app-pdf [media]="m"></app-pdf>
  </div>
</div>