<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>{{(score.obra!=="")?(score.obra):"Nombre Desconocido"}}</mat-card-title>
    <mat-card-subtitle>{{people()}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      {{score.extrainfo}}
    </p>
    <mat-divider [inset]="true">
    </mat-divider>
    <div style="padding-top:5px">
      <mat-chip-list #chipList>
        <mat-chip *ngFor="let g of score.generos" color="primary" [selectable]="true">{{g}}
        </mat-chip>
      </mat-chip-list>
    </div>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-button [routerLink]="[ '/musica/partitura', iScore.id ]">Seleccionar</button>
    <div fxFlex></div>
    <button mat-icon-button (click)="share()">
      <mat-icon>share</mat-icon>
    </button>
    <button mat-icon-button (click)="fav()">
      <mat-icon>{{(isFav)?'favorite':'favorite_border'}}</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>